*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: rgb(114, 141, 72);
}
.navigation{
    width: 45rem;
    height: 8rem;
    background: #fff;
    border-radius: 1rem;
    display: grid;
    place-items: center;
    padding: 15px;
    box-shadow: 0 4px 20px rgba(12,12,12,0.0543);
}
ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    user-select: none;
    pointer-events: none;
}
ul li{
    position: relative;
    margin-left: 1rem;
    pointer-events: all;
}
ul li a::before{
    position: absolute;
    content: "";
    width: 0;
    height: 4px;
    background: rgb(118,168,0);
    left: 50%;
    bottom: -8px;
    border-radius: 5px;
}
li:hover a::before{
    width: 100%;
    left: 0;
    transition: 0.2s all;
}
ul li a{
    font-size: 18px;
    color: #000;
    transition: 0.3s;
    font-weight: bold;
    text-decoration: none;
}
ul:hover a{
    color: rgb(211,221,211);
}
ul:hover a:hover{
    color: #000;
}